In [1]:
import pandas as pd
from tkinter.filedialog import askopenfilenames

munidatabase = pd.read_csv('databases/municipios.csv', sep=';')
result = munidatabase
filename = askopenfilenames(title= "Elige todos los microdatos en .CSV", filetypes=[('CSV file', '*.csv'), ('All files', '*.*')])

In [ ]:
munidatabase

In [2]:
for filez in filename:
    microdatos = pd.read_csv(filez, low_memory=False)
    year = filez[-8:-4]

microdatos.head()

,SEXO,PROVNAC,MUNINAC,EDAD,MESNAC,ANONAC,CNAC,PROVALTA,MUNIALTA,MESVAR,ANOVAR,PROVBAJA,MUNIBAJA,TAMUALTA,TAMUBAJA,TAMUNACI,PROVMUNIALTA,PROVMUNIBAJA,GALALTA,GALBAJA
0,6,1,1,57,2,1943,108,1,59,9,2000,1,901,6,1,1,1059,1901,G253,G144
1,6,1,1,62,7,1938,108,39,14,7,2000,1,1,1,1,1,39014,1001,G094,G253
2,1,1,1,54,12,1945,108,20,39,5,2000,1,59,1,6,1,20039,1059,NaN,G253
3,6,1,1,63,12,1936,108,48,20,6,2000,1,59,6,6,1,48020,1059,NaN,G253
4,1,1,1,2,10,1997,108,48,72,9,2000,1,1,1,1,1,48072,1001,G253,G253

# Saldo VR TOTAL

In [3]:
ent = microdatos.groupby('PROVMUNIALTA').size()
sal = microdatos.groupby('PROVMUNIBAJA').size()
saldo = ent.sub(sal, fill_value=0).reset_index().astype(int).rename(columns={'index': 'COD_PROVMUNI',0: str(year) + '_SALDO_TOTAL'})

saldo.head()

   COD_PROVMUNI  2000_SALDO_TOTAL
0          1001                59
1          1002               -15
2          1003                32
3          1004                -3
4          1006                13

In [46]:
#result = pd.merge(munidatabase, saldo, on='COD_PROVMUNI')

result = pd.merge(result, saldo, how='left', on='COD_PROVMUNI')
result

,COD_PROVINCIA,COD_PROVMUNI,MUNICIPIO,POBLACION_1999,2000_SALDO_TOTAL_x,2000_SALDO_TOTAL_y,2000_SALDO_TOTAL_x,2000_SALDO_TOTAL_y
0,1,1001,Alegría-Dulantzi,1329,59,59,59,59.0
1,1,1002,Amurrio,9753,-15,-15,-15,-15.0
2,1,1049,Añana,188,3,3,3,3.0
3,1,1003,Aramaio,1373,32,32,32,32.0
4,1,1006,Armiñón,153,13,13,13,13.0
5,1,1037,Arraia-Maeztu,712,22,22,22,22.0
6,1,1008,Arrazua-Ubarrundia,756,18,18,18,18.0
7,1,1004,Artziniega,1338,-3,-3,-3,-3.0
8,1,1009,Asparrena,1561,10,10,10,10.0
9,1,1010,Ayala/Aiara,2031,33,33,33,33.0
10,1,1011,Baños de Ebro/Mañueta,333,5,5,5,5.0
11,1,1013,Barrundia,590,21,21,21,21.0
12,1,1014,Berantevilla,422,34,34,34,34.0
13,1,1016,Bernedo,544,0,0,0,0.0
14,1,1017,Campezo/Kanpezu,1062,28,28,28,28.0
15,1,1021,Elburgo/Burgelu,269,54,54,54,54.0
16,1,1022,Elciego,905,7,7,7,7.0
17,1,1023,Elvillar/Bilar,356,3,3,3,3.0
18,1,1046,Erriberagoitia/Ribera Alta,515,-2,-2,-2,-2.0
19,1,1056,Harana/Valle de Arana,353,-2,-2,-2,-2.0
20,1,1901,Iruña Oka/Iruña de Oca,1674,51,51,51,51.0
21,1,1027,Iruraiz-Gauna,416,17,17,17,17.0
22,1,1019,Kripan,190,-1,-1,-1,-1.0
23,1,1020,Kuartango,372,6,6,6,6.0
24,1,1028,Labastida/Bastida,1195,31,31,31,31.0
25,1,1030,Lagrán,197,3,3,3,3.0
26,1,1031,Laguardia,1409,12,12,12,12.0
27,1,1032,Lanciego/Lantziego,642,3,3,3,3.0
28,1,1902,Lantarón,924,46,46,46,46.0
29,1,1033,Lapuebla de Labarca,872,0,0,0,0.0
...,...,...,...,...,...,...,...,...
8086,50,50272,Utebo,9758,644,644,644,644.0
8087,50,50274,Val de San Martín,75,0,0,0,0.0
8088,50,50273,Valdehorna,60,0,0,0,NaN
8089,50,50275,Valmadrid,68,-2,-2,-2,-2.0
8090,50,50276,Valpalmas,201,-6,-6,-6,-6.0
8091,50,50277,Valtorres,99,2,2,2,2.0
8092,50,50278,Velilla de Ebro,278,-2,-2,-2,-2.0
8093,50,50279,Velilla de Jiloca,121,-1,-1,-1,-1.0
8094,50,50280,Vera de Moncayo,480,-3,-3,-3,-3.0
8095,50,50281,Vierlas,101,1,1,1,1.0
8096,50,50283,Villadoz,86,3,3,3,3.0
8097,50,50284,Villafeliche,235,-1,-1,-1,-1.0
8098,50,50285,Villafranca de Ebro,681,-7,-7,-7,-7.0
8099,50,50286,Villalba de Perejil,117,0,0,0,0.0
8100,50,50287,Villalengua,433,2,2,2,2.0
8101,50,50903,Villamayor de Gállego,0,0,0,0,NaN
8102,50,50288,Villanueva de Gállego,2963,113,113,113,113.0
8103,50,50290,Villanueva de Huerva,593,4,4,4,4.0
8104,50,50289,Villanueva de Jiloca,121,-4,-4,-4,-4.0
8105,50,50291,Villar de los Navarros,156,-6,-6,-6,-6.0
8106,50,50292,Villarreal de Huerva,177,4,4,4,4.0
8107,50,50293,Villarroya de la Sierra,690,4,4,4,4.0
8108,50,50294,Villarroya del Campo,89,-2,-2,-2,-2.0
8109,50,50282,"Vilueña, La",95,-2,-2,-2,-2.0
8110,50,50295,Vistabella,35,1,1,1,1.0
8111,50,50296,"Zaida, La",603,-4,-4,-4,-4.0
8112,50,50297,Zaragoza,603367,-930,-930,-930,-930.0
8113,50,50298,Zuera,5439,82,82,82,82.0
8114,51,51001,Ceuta,73704,-420,-420,-420,-420.0
8115,52,52001,Melilla,56929,-835,-835,-835,-835.0

In [47]:
#result.iloc[:, 4:].fillna(value=0, inplace=True)

result.loc[:, result.dtypes == 'float64'] = result.loc[:, result.dtypes == 'float64'].fillna(value=0).astype('int64')
result

,COD_PROVINCIA,COD_PROVMUNI,MUNICIPIO,POBLACION_1999,2000_SALDO_TOTAL_x,2000_SALDO_TOTAL_y,2000_SALDO_TOTAL_x,2000_SALDO_TOTAL_y
0,1,1001,Alegría-Dulantzi,1329,59,59,59,59
1,1,1002,Amurrio,9753,-15,-15,-15,-15
2,1,1049,Añana,188,3,3,3,3
3,1,1003,Aramaio,1373,32,32,32,32
4,1,1006,Armiñón,153,13,13,13,13
5,1,1037,Arraia-Maeztu,712,22,22,22,22
6,1,1008,Arrazua-Ubarrundia,756,18,18,18,18
7,1,1004,Artziniega,1338,-3,-3,-3,-3
8,1,1009,Asparrena,1561,10,10,10,10
9,1,1010,Ayala/Aiara,2031,33,33,33,33
10,1,1011,Baños de Ebro/Mañueta,333,5,5,5,5
11,1,1013,Barrundia,590,21,21,21,21
12,1,1014,Berantevilla,422,34,34,34,34
13,1,1016,Bernedo,544,0,0,0,0
14,1,1017,Campezo/Kanpezu,1062,28,28,28,28
15,1,1021,Elburgo/Burgelu,269,54,54,54,54
16,1,1022,Elciego,905,7,7,7,7
17,1,1023,Elvillar/Bilar,356,3,3,3,3
18,1,1046,Erriberagoitia/Ribera Alta,515,-2,-2,-2,-2
19,1,1056,Harana/Valle de Arana,353,-2,-2,-2,-2
20,1,1901,Iruña Oka/Iruña de Oca,1674,51,51,51,51
21,1,1027,Iruraiz-Gauna,416,17,17,17,17
22,1,1019,Kripan,190,-1,-1,-1,-1
23,1,1020,Kuartango,372,6,6,6,6
24,1,1028,Labastida/Bastida,1195,31,31,31,31
25,1,1030,Lagrán,197,3,3,3,3
26,1,1031,Laguardia,1409,12,12,12,12
27,1,1032,Lanciego/Lantziego,642,3,3,3,3
28,1,1902,Lantarón,924,46,46,46,46
29,1,1033,Lapuebla de Labarca,872,0,0,0,0
...,...,...,...,...,...,...,...,...
8086,50,50272,Utebo,9758,644,644,644,644
8087,50,50274,Val de San Martín,75,0,0,0,0
8088,50,50273,Valdehorna,60,0,0,0,0
8089,50,50275,Valmadrid,68,-2,-2,-2,-2
8090,50,50276,Valpalmas,201,-6,-6,-6,-6
8091,50,50277,Valtorres,99,2,2,2,2
8092,50,50278,Velilla de Ebro,278,-2,-2,-2,-2
8093,50,50279,Velilla de Jiloca,121,-1,-1,-1,-1
8094,50,50280,Vera de Moncayo,480,-3,-3,-3,-3
8095,50,50281,Vierlas,101,1,1,1,1
8096,50,50283,Villadoz,86,3,3,3,3
8097,50,50284,Villafeliche,235,-1,-1,-1,-1
8098,50,50285,Villafranca de Ebro,681,-7,-7,-7,-7
8099,50,50286,Villalba de Perejil,117,0,0,0,0
8100,50,50287,Villalengua,433,2,2,2,2
8101,50,50903,Villamayor de Gállego,0,0,0,0,0
8102,50,50288,Villanueva de Gállego,2963,113,113,113,113
8103,50,50290,Villanueva de Huerva,593,4,4,4,4
8104,50,50289,Villanueva de Jiloca,121,-4,-4,-4,-4
8105,50,50291,Villar de los Navarros,156,-6,-6,-6,-6
8106,50,50292,Villarreal de Huerva,177,4,4,4,4
8107,50,50293,Villarroya de la Sierra,690,4,4,4,4
8108,50,50294,Villarroya del Campo,89,-2,-2,-2,-2
8109,50,50282,"Vilueña, La",95,-2,-2,-2,-2
8110,50,50295,Vistabella,35,1,1,1,1
8111,50,50296,"Zaida, La",603,-4,-4,-4,-4
8112,50,50297,Zaragoza,603367,-930,-930,-930,-930
8113,50,50298,Zuera,5439,82,82,82,82
8114,51,51001,Ceuta,73704,-420,-420,-420,-420
8115,52,52001,Melilla,56929,-835,-835,-835,-835

In [60]:
año = 2000
filas = int(result.shape[0])
columnas = int(result.shape[1])

In [70]:
print("Finalizado año " + str(año) + " con tabla " + str(filas) + "x" + str(columnas))

Finalizado año 2000 con tabla 8116x8

# Saldo VR TOTAL por GÉNERO

In [ ]:
ent = microdatos.groupby(['PROVMUNIALTA', 'SEXO']).size().unstack(fill_value=0)
sal = microdatos.groupby(['PROVMUNIBAJA', 'SEXO']).size().unstack(fill_value=0)

saldo = ent.sub(sal, fill_value=0).reset_index().astype(int).rename(columns={'index': 'COD_PROVMUNI',1: str(year) + '_SALDO_HOMBRES', 6: str(year) + '_SALDO_MUJERES'})

saldo

In [ ]:
result = pd.merge(result, saldo, how='left', on='COD_PROVMUNI')
result

# Saldo VR TOTAL para EXTRANJEROS

In [ ]:
ent = microdatos[microdatos.PROVBAJA == 66].groupby('PROVMUNIALTA').size()
sal = microdatos[microdatos.PROVALTA == 66].groupby('PROVMUNIBAJA').size()
saldo = ent.sub(sal, fill_value=0).reset_index().astype(int).rename(columns={'PROVMUNIALTA': 'COD_PROVMUNI',0: str(year) + '_SALDOEXT_TOTAL'})

In [ ]:
ent

In [ ]:
result = pd.merge(result, saldo, how='left', on='COD_PROVMUNI')
result

# Saldo VR TOTAL para EXTRANJEROS por GENERO

In [ ]:
ent = microdatos[microdatos.PROVBAJA == 66].groupby(['PROVMUNIALTA', 'SEXO']).size().unstack(fill_value=0)
sal = microdatos[microdatos.PROVALTA == 66].groupby(['PROVMUNIBAJA', 'SEXO']).size().unstack(fill_value=0)
saldo = ent.sub(sal, fill_value=0).reset_index().astype(int).rename(columns={'PROVMUNIALTA': 'COD_PROVMUNI',1: str(year) + '_SALDOEXT_HOMBRES', 6: str(year) + '_SALDOEXT_MUJERES'})

In [ ]:
saldo.head()

In [ ]:
result = pd.merge(result, saldo, how='left', on='COD_PROVMUNI')
result

# Saldo VR TOTAL por TRAMOS DE EDAD

In [ ]:
ent = microdatos.groupby(['PROVMUNIALTA',pd.cut(microdatos['EDAD'], (0, 16, 25, 36, 50, 65, 200 ))]).size().unstack(fill_value=0)
sal = microdatos.groupby(['PROVMUNIBAJA',pd.cut(microdatos['EDAD'], (0, 16, 25, 36, 50, 65, 200 ))]).size().unstack(fill_value=0)
saldo = ent.sub(sal, fill_value=0).astype(int)
saldo.columns = [year + '_SALDOTOTAL_MENORES', year + '_SALDOTOTAL_ESTUDIANTES', year + '_SALDOTOTAL_TRABAJADORES', year + '_SALDOTOTAL_MADUREZ1', year + '_SALDOTOTAL_MADUREZ2', year + '_SALDOTOTAL_JUBILADOS']
saldo = saldo.reset_index().rename(columns={'index': 'COD_PROVMUNI'})

In [ ]:
result = pd.merge(result, saldo, how='left', on='COD_PROVMUNI')
result

# Saldo VR TOTAL por GÉNERO y TRAMOS DE EDAD

In [ ]:
microdatos_h = microdatos[microdatos.SEXO == 1].reset_index(drop=True)

ent = microdatos_h.groupby(['PROVMUNIALTA', pd.cut(microdatos_h['EDAD'], (0, 16, 25, 36, 50, 65, 200 ))]).size().unstack(fill_value=0).astype(int)
sal = microdatos_h.groupby(['PROVMUNIBAJA', pd.cut(microdatos_h['EDAD'], (0, 16, 25, 36, 50, 65, 200 ))]).size().unstack(fill_value=0).astype(int)

saldo = ent.sub(sal, fill_value=0).astype(int)
saldo.columns = [year + '_SALDOHOMBRES_MENORES', year + '_SALDOHOMBRES_ESTUDIANTES', year + '_SALDOHOMBRES_TRABAJADORES', year + '_SALDOHOMBRES_MADUREZ1', year + '_SALDOHOMBRES_MADUREZ2', year + '_SALDOHOMBRES_JUBILADOS']
saldo = saldo.reset_index().rename(columns={'index': 'COD_PROVMUNI'})

In [ ]:
result = pd.merge(result, saldo, how='left', on='COD_PROVMUNI')
result

In [ ]:
microdatos_m = microdatos[microdatos.SEXO == 6].reset_index(drop=True)

ent = microdatos_m.groupby(['PROVMUNIALTA', pd.cut(microdatos_m['EDAD'], (0, 16, 25, 36, 50, 65, 200 ))]).size().unstack(fill_value=0).astype(int)
sal = microdatos_m.groupby(['PROVMUNIBAJA', pd.cut(microdatos_m['EDAD'], (0, 16, 25, 36, 50, 65, 200 ))]).size().unstack(fill_value=0).astype(int)

saldo = ent.sub(sal, fill_value=0).astype(int)
saldo.columns = [year + '_SALDOMUJERES_MENORES', year + '_SALDOMUJERES_ESTUDIANTES', year + '_SALDOMUJERES_TRABAJADORES', year + '_SALDOMUJERES_MADUREZ1', year + '_SALDOMUJERES_MADUREZ2', year + '_SALDOMUJERES_JUBILADOS']
saldo = saldo.reset_index().rename(columns={'index': 'COD_PROVMUNI'})

In [ ]:
result = pd.merge(result, saldo, how='left', on='COD_PROVMUNI')
result

# Saldo VR para EXTRANJEROS por TRAMOS DE EDAD

In [ ]:
microdatos_ext_baja = microdatos[microdatos.PROVBAJA == 66].reset_index(drop=True)
microdatos_ext_alta = microdatos[microdatos.PROVALTA == 66].reset_index(drop=True)

ent = microdatos_ext_baja.groupby(['PROVMUNIALTA',pd.cut(microdatos_ext_baja['EDAD'], (0, 16, 25, 36, 50, 65, 200 ))]).size().unstack(fill_value=0)
sal = microdatos_ext_alta.groupby(['PROVMUNIBAJA',pd.cut(microdatos_ext_alta['EDAD'], (0, 16, 25, 36, 50, 65, 200 ))]).size().unstack(fill_value=0)

saldo = ent.sub(sal, fill_value=0).astype(int)
saldo.columns = [year + '_SALDOEXT_MENORES', year + '_SALDOEXT_ESTUDIANTES', year + '_SALDOEXT_TRABAJADORES', year + '_SALDOEXT_MADUREZ1', year + '_SALDOEXT_MADUREZ2', year + '_SALDOEXT_JUBILADOS']
saldo = saldo.reset_index().rename(columns={'PROVMUNIALTA': 'COD_PROVMUNI'})

In [ ]:
result = pd.merge(result, saldo, how='left', on='COD_PROVMUNI')
result

# Saldo VR para EXTRANJEROS por TRAMOS DE EDAD y GENERO

In [ ]:
microdatos_h_ext_baja = microdatos[(microdatos.PROVBAJA == 66) & (microdatos.SEXO == 1)].reset_index(drop=True)
microdatos_h_ext_alta = microdatos[(microdatos.PROVALTA == 66) & (microdatos.SEXO == 1)].reset_index(drop=True)

ent = microdatos_h_ext_baja.groupby(['PROVMUNIALTA',pd.cut(microdatos_h_ext_baja['EDAD'], (0, 16, 25, 36, 50, 65, 200 ))]).size().unstack(fill_value=0)
sal = microdatos_h_ext_alta.groupby(['PROVMUNIBAJA',pd.cut(microdatos_h_ext_alta['EDAD'], (0, 16, 25, 36, 50, 65, 200 ))]).size().unstack(fill_value=0)

saldo = ent.sub(sal, fill_value=0).astype(int)
saldo.columns = [year + '_SALDOEXT_HOMBRES_MENORES', year + '_SALDOEXT_HOMBRES_ESTUDIANTES', year + '_SALDOEXT_HOMBRES_TRABAJADORES', year + '_SALDOEXT_HOMBRES_MADUREZ1', year + '_SALDOEXT_HOMBRES_MADUREZ2', year + '_SALDOEXT_HOMBRES_JUBILADOS']
saldo = saldo.reset_index().rename(columns={'PROVMUNIALTA': 'COD_PROVMUNI'})

In [ ]:
result = pd.merge(result, saldo, how='left', on='COD_PROVMUNI')
result

In [ ]:
microdatos_m_ext_baja = microdatos[(microdatos.PROVBAJA == 66) & (microdatos.SEXO == 6)].reset_index(drop=True)
microdatos_m_ext_alta = microdatos[(microdatos.PROVALTA == 66) & (microdatos.SEXO == 6)].reset_index(drop=True)

ent = microdatos_m_ext_baja.groupby(['PROVMUNIALTA',pd.cut(microdatos_m_ext_baja['EDAD'], (0, 16, 25, 36, 50, 65, 200 ))]).size().unstack(fill_value=0)
sal = microdatos_m_ext_alta.groupby(['PROVMUNIBAJA',pd.cut(microdatos_m_ext_alta['EDAD'], (0, 16, 25, 36, 50, 65, 200 ))]).size().unstack(fill_value=0)

saldo = ent.sub(sal, fill_value=0).astype(int)
saldo.columns = [year + '_SALDOEXT_MUJERES_MENORES', year + '_SALDOEXT_MUJERES_ESTUDIANTES', year + '_SALDOEXT_MUJERES_TRABAJADORES', year + '_SALDOEXT_MUJERES_MADUREZ1', year + '_SALDOEXT_MUJERES_MADUREZ2', year + '_SALDOEXT_MUJERES_JUBILADOS']
saldo = saldo.reset_index().rename(columns={'PROVMUNIALTA': 'COD_PROVMUNI'})

In [ ]:
result = pd.merge(result, saldo, how='left', on='COD_PROVMUNI')
result

In [ ]:
result.COD_PROVMUNI = result.COD_PROVMUNI.astype(str).str.zfill(5)

result

In [ ]:
result.to_csv('outputs/' + year + '_VR_database.csv', index=False)
print('Guardado!!')