In [1]:
import pandas as pd
from resources.funciones import buscar_muni
from resources.funciones import buscar_prov
from resources.funciones import get_saldo
from resources.funciones import get_saldo_hombres
from resources.funciones import get_saldo_mujeres
from tkinter.filedialog import askopenfilenames

In [2]:
munidatabase = pd.read_csv('databases/municipios.csv', sep=';')

filename = askopenfilenames(title= "Elige todos los microdatos en .CSV", filetypes=[('CSV file', '*.csv'), ('All files', '*.*')])

In [3]:
for filez in filename:
    microdatos = pd.read_csv(filez)
    year = filez[-8:-4]
    munidatabase['Saldo_' + year] = munidatabase['PROVMUNI'].apply(get_saldo, df=microdatos)
    munidatabase['Saldo_H_' + year] = munidatabase['PROVMUNI'].apply(get_saldo_hombres, df=microdatos)
    munidatabase['Saldo_M_' + year] = munidatabase['PROVMUNI'].apply(get_saldo_mujeres, df=microdatos)

In [4]:
munidatabase.head()

,PROV,PROVMUNI,MUNINAME,Saldo_2000,Saldo_H_2000,Saldo_M_2000,Saldo_2001,Saldo_H_2001,Saldo_M_2001
0,1,1001,Alegría-Dulantzi,-2,-1,-1,-2,-1,-1
1,1,1002,Amurrio,0,0,0,0,0,0
2,1,1049,Añana,0,0,0,0,0,0
3,1,1003,Aramaio,0,0,0,0,0,0
4,1,1006,Armiñón,0,0,0,0,0,0